<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mask-custom shadow-0 nn">
      <div class="container">
        <a class="navbar-brand" href="{% url 'shop'%}"><span style="color: #5e9693;">Ecom</span><span style="color: #5555;">Shop</span></a>
          <ul class="navbar-nav me-auto flex-row">
            <li class="nav-item me-3">
              <a class="nav-link" href="{% url 'shop'%}">Shop</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="{% url 'account' %}">Account</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="#!">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav d-flex flex-row">
            {% if user.is_authenticated %}
            <li class="nav-item me-3 me-lg-0">
              <a href="{% url 'logout' %}" class='nav-link'>Logout</a>
            </li>
            {% else %}
            <li class="nav-item me-3 me-lg-0">
              <a href="{% url 'login' %}" class='nav-link'>Login</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="{% url 'cart'%}">
                <span id="boot-icon" class="bi bi-cart" style="font-size: 16px; color: rgb(12, 128, 128);">{{cart.get_cart_items_count}}</span>
              </a>
            </li>
            {% else %}
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="{% url 'cart'%}">
                <span id="boot-icon" class="bi bi-cart" style="font-size: 16px; color: rgb(12, 128, 128);">0</span>
              </a>
            </li>
            {% endif %}
          </ul>
      </div>
    </nav>
    <main>
      <div class='container'>
        {% block content%}
        {% endblock %}
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>