
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
*{
  box-sizing: border-box;
}
.container{
  margin: 0 auto;
  width: 80%;
  padding: 15px;

}
.product-price{
  margin: 0;
}

.container-main{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  row-gap: 30px;
  grid-auto-flow: row;
  margin-top: 5%;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 5px 5px 5px rgba(128, 128, 128, 0.108);
  border-radius: 5px;
  padding: 15px;
  border: .2px white solid;

}
.img{
  width: 100%;
  height: 80%;
  padding: 10px;
  margin-bottom: 5px;
}

img{
  display: inline-block;
  height: 100%;
  width: 100%;
  align-self: center;
  border-radius: 2px;
}
.btn-price{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav{
  display: flex;
  min-width: 90%;
  height: 15%;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.btn-add-view{
  margin-right: 30px;
}

.btn-add-view a{
  margin-right: 5px;
  text-decoration: none;
  box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.335);
  padding: 10px;
  border-radius: 5px;
  color: rgb(52, 51, 51);
}

.btn-add-view a:nth-child(1):hover{
    background: rgba(128, 128, 128, 0.233);
    box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.335);
  }

.btn-add-view a:nth-child(2){
  color: rgba(23, 195, 23, 0.843);
  box-shadow: 0 0 1px 1px rgba(14, 195, 29, 0.335);

}
.btn-add-view a:nth-child(2):hover{
  color: #fff;
  background: rgba(23, 195, 23, 0.843);
  box-shadow: 0 0 1px 1px rgba(14, 195, 29, 0.335);

}
.view-btn{
  color: rgba(0, 128, 0, 0.561);
}
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

  @media(max-width:600px){
    .container-main{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      row-gap: 30px;
      grid-auto-flow: row;
      margin-top: 5%;
    }
    .btn-price{
      display: flex;
      flex-direction: column;
    }

    .btn-add-view a{
      text-decoration: none;
      box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.335);
      border-radius: 5px;
      color: rgb(52, 51, 51);
      width: 100%;
      margin-right: 1px;
      text-align: center;
    }
    .btn-add-view{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }


  @media(max-width: 1000px){

    .container-main{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      row-gap: 30px;
      grid-auto-flow: row;
      margin-top: 5%;
    }

    .btn-add-view a{
      text-decoration: none;
      box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.335);
      padding: 2px;
      border-radius: 5px;
      color: rgb(52, 51, 51);
      font-size: 12px;
    }
    .btn-add-view{
      margin-right: 5px;
    }
  }

  @media(max-width: 1400px){
    /* .btn-add-view{

    } */

    .btn-add-view a{
      margin-right: 1px;
      text-decoration: none;
      box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.335);
      padding: 2px;
      border-radius: 5px;
      color: rgb(52, 51, 51);
      font-size: 16px;
      flex-direction: column;
    }
  }

  .detailed-view img{
    display: flex;
    height: 1000px;
    width: 1000px;
    align-items: center;
    justify-content: center;
  }



/* cart page */

.box-element{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.btn{
  width: 100%;
}
.ordered-items{
  width: 100%;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.116);
  padding: 10px;
}
table{
  width: 100%;
  margin-bottom: 10px;
}
.back-btn{
  display: flex;
  justify-items: flex-start;
  margin: 5px;
}
.btn{
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.116);
}
.ordered-item{
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.058);
  text-align: center;
}
td{
  height: 80px;
  justify-self: center;
}
td img{
  height: 80%;
  width: 50%;
}
thead{
  text-align: center;
}
th{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Quantity{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.register-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 500px;
  margin: 0 auto;
  box-shadow: 2px 3px 3px 3px rgba(128, 128, 128, 0.108);
  border-radius: 5px;
  padding: 15px;
}
.register-container{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
}

input{
  border:white;
  border-radius: 5px;
  padding: 10px !important;
  border: 1px solid;
  background-color: #fafafa;
  color:  rgba(12, 128, 128, 0.376);

}

label{
  margin: 5px;
}
button{
  background-color: #fafafa;
  color:  rgb(12, 128, 128);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
  }
}

.card:nth-child(1){
  animation-name: slideInRight;
  animation-duration: .5s;
}
.card:nth-child(2){
  animation-name: slideInRight;
  animation-duration: 2s;
}

.card:nth-child(3){
  animation-name: slideInRight;
  animation-duration: 3.5s;
}
.card:nth-child(4){
  animation-name: slideInLeft;
  animation-duration: 3.5s;
}
.card:nth-child(5){
  animation-name: slideInLeft;
  animation-duration: 2s;
}

.card:nth-child(6){
  animation-name: slideInLeft;
  animation-duration: 0.5s;
}
