{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
    {% if accountinfo %}
    <div class='d-flex flex-column text-start m-5'>

      <h5>Name:</h5><p>{{accountinfo.first_name}} {{accountinfo.last_name}}</p>
      <h5>Address:</h5><p>{{accountinfo.address}}</p>
      <h5>City:</h5><p>{{accountinfo.city}}</p>
      <h5>State:</h5><p>{{accountinfo.state}}</p>
      <h5>Zip-code:</h5><p>{{accountinfo.zipcode}}</p>
      <a href="{% url 'updateaccount'%}" class='btn btn-sm' style='width:10%;'>Edit</a>
    </div>
    {% else %}
      <div style='width:600px'>
        <form method='POST' class='d-flex flex-column'>
          {% csrf_token %}
          <label>{{form.first_name.label}}</label>
          {{form.first_name}}
          <label>{{form.last_name.label}}</label>
          {{form.last_name}}
          <label>{{form.address.label}}</label>
          {{form.address}}
          <label>{{form.city.label}}</label>
          {{form.city}}
          <label>{{form.state.label}}</label>
          {{form.state}}
          <label>{{form.zipcode.label}}</label>
          {{form.zipcode}}
          <input type="Submit" value="Submit" class='btn btn-sm mt-4' style='width:20%;'>
        </form>
      </div>
    {% endif %}
{% else %}
<h4>You currently do not have an account with account information, would you like to register?</h4>
<a href="{% url 'register'%}">Register</a>
{% endif %}
{% endblock %}