<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<main>
    <div class='mx-auto' style='width:400px; height:800px;'>
      <form method='POST'>
        <div class='d-flex flex-column' style='width=80%; height=50%;'>
        {% csrf_token %}
        <h1>How many {{product.name}}'s would you like?</h1>
        <img src="{{product.image}}" alt="">
        {{form.quantity}}
        <button type='submit'>Add</button>
        </div>

      </form>
    </div>
</main>
</body>
</html>
