{% extends 'base.html'%}
{% block content %}
<div class='row'>
    <div class='col-lg-12'>
        <div class='box-element'>
          <div class='btn-add-view btn'>
            <div class='back-btn'>
            <a href="{% url 'shop'%}"> &#8592 Continue Shopping</a>
            </div>
            <br>
            <br>
            <table>
              <tr>
                <th><h5>Items: <strong>{{order.get_cart_items_count}}</strong></h5></th>
                <th><h5>Total: <strong>{{order.cart_total|floatformat:2}}</strong></h5></th>
                {% if user.is_authenticated %}
                <th>
                    <a href="{% url 'checkout' %}">Checkout</a>
                </th>
                {% else %}
                <th>
                  <h6><a href="{% url 'login' %}">Checkout</a></h6>
                </th>
                {% endif %}
              </tr>
            </table>
          </div>
    </div>
    <br>
    <div class='col-lg-12'>
      <div class='box-element'>
        <div class='btn-add-view ordered-items'>
            <table>
                <thead>
                  <th></th>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr class='ordered-item'>
                        <td><img src="{{item.product.image}}" alt=""></td>
                        <td>{{item.product.name}}</td>
                        <td>${{item.product.price | floatformat:2}}</td>
                        <td class='Quantity'><i class="bi bi-caret-up-fill"></i>{{item.quantity}}<i class="bi bi-caret-down-fill"></i></td>
                        <td>${{item.item_total | floatformat:2}}</td>
                        <td><a href="{% url 'delete-item' item.id%}" class='delete-item'>x</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
</div>
{% endblock %}