{% extends 'base.html' %}
{% block content %}
  <div class='d-flex flex-row center justify-content-start'>
    <div class='col-lg-7'>
      <div class='box-element bg-light'>
        <div class='d-flex flex-column text-start m-5'>
          {% if user.is_authenticated %}
              <h2 class='center'>Shipping information</h2>
              {% if accountinfo%}
                <h5>Name:</h5><p>{{accountinfo.first_name}} {{accountinfo.last_name}}</p>
                <h5>Address:</h5><p>{{accountinfo.address}}</p>
                <h5>City:</h5><p>{{accountinfo.city}}</p>
                <h5>State:</h5><p>{{accountinfo.state}}</p>
                <h5>Zip-code:</h5><p>{{accountinfo.zipcode}}</p>
                <a href="{%url 'account'%}" style='text-decoration: none;'>Account Info</a>
              {% else %}
              <h4>Please set up account information</h4>
              <a href="{%url 'account'%}" style='text-decoration: none;'>Account Info</a>
              {% endif %}
{% comment %}
          {% else %}
          <h4>Please set up account information</h4>
          <a href="{%url 'account'%}" style='text-decoration: none;'>Account Info</a> {% endcomment %}

          {% endif %}
        </div>
      </div>
    </div>
    <div class='col-lg-6'>
      <div class='box-element m-0'>
        <div class='btn-add-view ordered-items rounded'>
          <h2 class='header text-center'>Your Cart</h2>
            <table>
                <thead>
                  <th></th>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr class='ordered-item'>
                        <td><img src="{{item.product.image}}" style='width:50px; border-radius:5px;' alt=""></td>
                        <td>{{item.product.name}}</td>
                        <td>${{item.product.price | floatformat:2}}</td>
                        <td class='center'>{{item.quantity}}</td>
                        <td>${{item.item_total | floatformat:2}}</td>
                        <td><a href="{% url 'delete-item' item.id%}" class='delete-item'>x</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <tr><button class='btn btn-info'>Checkout</button></tr>
        </div>
      </div>
    </div>
  </div>
{% endblock %}