{% extends 'base.html' %}
{% block content %}
<form method='POST'>
  {% csrf_token %}
<h2>Are you sure you want to remove {{item}} from cart?</h2>
<input type="submit" name="Confirm">
</form>
{% endblock %}