{% extends 'base.html'%}
{% block content %}
<div class='mx-auto' style="width: 80%;">
    <form method='POST'>
      {% csrf_token %}
      <h2 class='text-center'>Login</h2>
      <div class='text-center d-flex flex-column align-items-center'>
      <label for="username">{{form.username}}</label>
      <label for="password">{{form.password}}</label>
      <input type="Submit" value="Login" class='btn btn-sm m-2' style='width:30%;'>
      </div>

    </form>
    <p class='text-center'>Don't have an account? <a href="{% url 'register'%}" class=''>Register</a></p>
</div>
{% endblock %}