<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <title>Document</title>
</head>
<body>
    <main>
        <div class='container'>
          <form method='POST'>
            <div class='register-card center' style='margin-top:60px'>
              <nav class="navbar navbar-expand-lg navbar-light mask-custom shadow-0 center">
                <div class="register-container">
                  <a class="navbar-brand navbar-register" href="{% url 'shop'%}"><span style="color: #5e9693;">Ecom</span><span style="color: #5555;">Shop</span></a>
                </div>
              </nav>
                    {% csrf_token %}
                    <label for="username">{{form.username}}</label>
                    <label for="password">{{form.password}}</label>
                    <label for="password_comfirmation">{{form.password_confirmation}}</label>
                    <label for="password_comfirmation">{{form.email}}</label>
                    <label for="first_name">{{form.first_name}}</label>
                    <label for="last_name">{{form.last_name}}</label>
                    <input type="Submit" value='Register' class='btn btn-sm m-2' style='width:30%;'>
            </div>
          </form>
        </div>
    </main>
</body>
</html>