{% extends 'base.html'%}
{% load static%}
{%block content%}

  <div class='container-main'>
    {% for product in products %}
    <div class='card mb-5 mt-0'>
      {% if product.image %}
      <div class='img'><img src="{{product.image}}" alt=""></div>
      {% else %}
      <div class='img'><a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfqgoIUUXaEr3ypwmqL85kTRre7CLIiKeGlg&usqp=CAU" alt=""></a></div>
      {% endif %}
      <p class='product-name'>{{product.name}}</p>
      <div class='btn-price'>
        <div class='btn-add-view'>
          {% if user.is_authenticated %}
          <a href="{% url 'add' product.id %}" method='POST'>Add to cart</a>
          {% else %}
          <a href="{% url 'login' %}" method='POST'>Add to cart</a>
          {% endif %}
          <a href="{% url 'image' product.id %}">View</a>
        </div>
        <h5 class='product-price'>${{product.price}}</h5>
      </div>
    </div>
    {% endfor %}
  </div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">© 2023 EcomShop, Inc</span>
    </div>

    <ul class="nav col-md-2 list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/christopher-bustamante-6318a91b9/"><i class="bi bi-linkedin"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/chris.busta.79"><i class="bi bi-facebook"></i></a></li>
    </ul>
  </footer>
{% endblock %}
