{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
      <div style='width:600px'>
        <form method='POST' class='d-flex flex-column'>
          {% csrf_token %}
          <label>{{form.first_name.label}}</label>
          {{form.first_name}}
          <label>{{form.last_name.label}}</label>
          {{form.last_name}}
          <label>{{form.address.label}}</label>
          {{form.address}}
          <label>{{form.city.label}}</label>
          {{form.city}}
          <label>{{form.state.label}}</label>
          {{form.state}}
          <label>{{form.zipcode.label}}</label>
          {{form.zipcode}}
          <input type="Submit" value="Submit" class='btn btn-sm mt-4' style='width:20%;'>
        </form>

      </div>
{% else %}
<h4>You currently do not have an account with account information, would you like to register?</h4>
<a href="{% url 'register'%}">Register</a>
{% endif %}
{% endblock %}